@charset "utf-8";


/* list-works
-------------------------------------- */

.list-works{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;

    max-width:920px;
    padding:0 6%;
    margin:0 auto;
}
.list-works .list-works__item{
    width:47%;
    margin-bottom:50px;
}

.list-works .list-wroks__img{
    width:100%;
    aspect-ratio: 3/2;
    margin-bottom:20px;
    border-radius: 14px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);
    transition: all 0.4s ease 0s;
}
.list-works a .list-wroks__img:hover{
    transform: scale(0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
}
.list-works__txt{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}
.list-works .list-wroks__txt-jp{
    font-size: 15px;
    margin-bottom:10px;
}
.list-works .list-wroks__txt-en{
    /* font-family: "Zen Kaku Gothic Antique", sans-serif; */
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
}
.list-works .list-works__item a{
    transition: all 0.4s ease 0s;
    opacity:1.0;
}
.list-works .list-works__item a:hover{
    text-decoration: none;
    /* opacity:0.6; */
    color:#67513D;
}


/* MB */
@media only screen and (max-width: 599px) {
    .list-works{
        flex-direction:column;
        padding:0 20px;
        margin:0 auto;
        width:80%;
    }
    .list-works .list-works__item{
        width:100%;
        margin-bottom:50px;
    }

    .list-works .list-wroks__img{
        margin-bottom:16px;
    }
    .list-works__txt{
        flex-direction:column;
        justify-content:space-between;
    }
    .list-works .list-wroks__txt-jp{
        font-size: 14px;
        margin-bottom:10px;
    }
    .list-works .list-wroks__txt-en{
        font-size: 11px;
    }


}

