@charset "utf-8";




/* works__list-newWindow
------------------------------------------------ */

.works__list-newWindow{
    width:100%;
    max-width:920px;
    margin:120px auto 60px;
    padding:0 6%;

    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;

}
.works__list-newWindow-item{
    width:47%;
}
.works__list-newWindow-img{
    width:100%;
    aspect-ratio: 3/2;
    border-radius: 10px;
}


@media only screen and (max-width: 599px) {
    .works__list-newWindow{
        width:100%;
        margin:0 auto 90px;
        padding:0 6%;
    
        display: flex;
        flex-direction:column;
    }
    .works__list-newWindow-item{
        width:75%;
        margin:0 auto;
        
    }
    .works__list-newWindow-item:first-child{
        margin:0 auto;
        
    }
}





/* works__list-sampleImg
------------------------------------------------ */

.works__list-sampleImg{
    width:100%;
    max-width:920px;
    margin:0 auto 60px;
    padding:0 6%;

    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;

}
.works__list-sampleImg-item{
    width:47%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);
    overflow: hidden;
}
.works__list-sampleImg-img{
    width:100%;
    aspect-ratio: 3/2;
}


@media only screen and (max-width: 599px) {
    .works__list-sampleImg{
        width:100%;
        margin:0 auto 60px;
        padding:0 6%;
    
        display: flex;
        flex-direction:column;
    }
    .works__list-sampleImg-item{
        width:75%;
        margin:0 auto;
        
    }
    .works__list-sampleImg-item:first-child{
        margin:0 auto 60px;
        
    }
}

/* works_text
------------------------------------------------ */
.works__article{
    width:100%;
    max-width:920px;
    margin:0 auto 60px;
    padding:0 6%;
    /* box-sizing: border-box; */

    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
}
.works__sub-title{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2.5;
    text-align: center;
    width:30%;
    /* box-sizing: border-box; */
}
.works__text{
    font-size: 15px;
    line-height: 2.0;
    flex:1;
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 599px) {
    .works__article{
        width:100%;
        margin:0 auto 60px;
        padding:0 20px;
        display: flex;
        flex-direction:column;
    }
    .works__sub-title{
        font-size: 12px;
        line-height: 2.5;
        text-align: left;
        width:100%;
        padding:0 20px;
    }
    .works__text{
        font-size: 15px;
        line-height: 2.0;
        padding:0 20px;
        width:100%;
    }
}

/* works_MV
------------------------------------------------ */


.works__MV{
    padding:60px 6%;
    margin-bottom:70px;
    background-color: rgba(0, 0, 0, 0.08);;
}
.works__MV-img{
    display:block;
    width:100%;
    max-width:920px;
    margin:0 auto;
    aspect-ratio: 3/2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);
}

@media only screen and (max-width: 767px) {
    .works__MV{
        padding:40px 6%;
        margin-bottom:60px;
    }
}

@media only screen and (max-width: 599px) {
    .works__MV{
        padding:36px 30px;
        margin-bottom:30px;
    }
}




/* works__headline
------------------------------------------------ */

.works__headline{
    max-width:920px;
    padding:0 6%;
    margin:0 auto 45px;
}
.works__headline__jp-S{
    font-size: 13px;
    font-weight: 300;
    margin-bottom:16px;
}
.works__headline__jp-L{
    font-size: 20px;
    font-weight: 300;
    margin-bottom:14px;
}
.works__headline__en{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 12px;
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 599px) {
    .works__headline{
        padding:0 30px;
        margin:0 auto 30px;
    }
    .works__headline__jp-S{
        font-size: 12px;
        margin-bottom:12px;
    }
    .works__headline__jp-L{
        font-size: 18px;
        margin-bottom:10px;
    }
    .works__headline__en{
        font-size: 11px;
    }
}

/* headline
------------------------------------------------ */

.headline{
    max-width:920px;
    padding:0 6%;
    margin:0 auto 30px;
    text-align:center;    
}

.headline__en{
    font-family: "Dongle", sans-serif;
    font-weight: 300; /* 300,400,700*/
    font-style: normal;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 2px;
}
.headline__jp{
    /* font-family: "Noto Sans JP", sans-serif;
    font-weight: 300; */
    /* font-style: normal; */
    font-size: 12px;
    letter-spacing: 2px;
}






@media only screen and (max-width: 767px) {

    .headline__jp{
        font-size: 13px;
    }
}

@media only screen and (max-width: 599px) {
    .headline{
        margin-bottom: 50px;
    }

    .headline__jp{
        font-size: 12px;
    }
}


